* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.HenryH {
    position: fixed;
    font-size: xx-large;
    color: brown;
    display: block solid 4px brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial
}
body {
    background-color: rgb(245, 246, 247);
    font-family: sans-serif;
    font-size: medium;
    
}
#ruapehu-image {
    width: 100%;
    display: block;
    border-radius: 50%;
}
#positioning-img {
    height: 40%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main-content {
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: large;
}
.index-links {
    display: inline-block;
    text-align: center;
    font-size: 20pt;
    padding: 25px;
    outline: solid black;
    margin: 2%;
}
#header1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}
#sprint2-header {
    border-left-width: auto;
    border-right-width: auto;
    text-align: center;
}
.sprint1-core-content {
    border-left-width: auto;
    border-right-width: auto;
    text-align: center;
    border-style: solid 2px black;
    display: block;
}
.example-code {
    max-width: 40%;
    height: auto;
}
.list {
    display: inline-block;
    text-align: left;
}