* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.HenryH {
    position: fixed;
    font-size: xx-large;
    color: brown;
    display: block solid 4px brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial
}
body {
    background-color: rgb(245, 246, 247);
    font-family: sans-serif;
    font-size: medium;
}
#ruapehu-image {
    width: 1400px;
    padding: 50px 50px 50px 50px;
    display: block;
    border-radius: 50%;
}
#positioning-img {
    height: 40%;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main-content {
    border-left-width: auto;
    border-right-width: auto;
    text-align: center;
}
#Sprint1-tech {
    display: block;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
#Sprint1-core {
    max-width: 10%;
    display: block;
}
.Sprint2-tech {
    max-width: 10%;
    display: block;
}
.Sprint2-core {
    max-width: 10%;
    display: block;
}
#header1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}
#sprint2-header {
    border-left-width: auto;
    border-right-width: auto;
    text-align: center;
}
